.players_container {
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    li {
      display: flex;
      gap: 1rem;
      cursor: pointer;
      transition: 0.3 ease-in-out;

      &:hover {
        color: white;
      }

      img {
        height: 18px;
        width: auto;
      }
    }
  }
}